*{
    margin: 0px;
    padding: 0px;
}

.clearfix{ /*Esta regla CSS se hizo para limpiar unos flotados y que se detecte el tamaño de lo que contiene el #content*/
    
}

/*Para maquetar una web en responsive hay que pensar en porcentajes para las cajas más que en pixeles, porque un porcentaje se adapta al tamaño de la caja 
que lo contiene y a la pantalla, en cambio si se colocan medidas en pixeles, esto siempre mantendrá el mismo tamaño (Esto es una de las claves para hacer 
responsive, pensar en porcentajes en lugar de px)*/

#container { /*Con esta regla CSS se dan estilos al div que contiene al aside y la sección de artículos*/
    width: 70%; /*Con esta propiedad */
    background-color: red;/*Con esta propiedad */
    margin: 0 auto; /*Con esta propiedad */
    font-family: Arial, Helvetica, sans-serif; /*Con esta propiedad */
    margin-top: 40px; /*Con esta propiedad */
    margin-bottom: 40px; /*Con esta propiedad */

    }

header{
    width: 100%; /*Con esta propiedad */
    height: 150px; /*Con esta propiedad */
    background-color: lightblue; /*Con esta propiedad */
    color: #333; /*Con esta propiedad */
    line-height: 150px; /*Con esta propiedad */
    text-align: center; /*Con esta propiedad */
} 

aside{
    width: 25%; /*Con esta propiedad */
    min-height: 700px; /*Con esta propiedad */
    float: left; /*Con esta propiedad */
    background-color: #ccc; /*Con esta propiedad */
    text-align: center; /*Con esta propiedad */
    line-height: 700px; /*Con esta propiedad */
}

#articles{
    width: 75%;
    min-height: 700px;
    float: left;
    background-color: lemonchiffon;
}

#articles article{
    width: 25%;
    height: 150px;
    background-color: green;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 15px;
}
/*desde la anchura 0px a 888px habra estos estilo si no se ejecutan los de arriba*/
@media (max-width:888px){
    #articles article{
        width: 40%;
        background-color: red;
    }
}