/*
Ejercicio completo con HTML y CSS
1. Crear un document HTML y vincularlo con CSS
2. Crear una estructura HTML que cuente con un CONTENEDOR GENERAL, CABECERA, MENU, BARRA LATERAL, SECCIÓN CONTENIDO PRINCIPAL, ELEMENTOS DENTRO DEL CONTENEDOR PRINCIPAL Y FOOTER
3. Todo el contenido debe estar dentro del contenedor general y su ancho será de 1200px y estar centrado
4. Header debe ocupar el 100% del ancho y tener un texto grande centrado
5. Menu debe tener los elementos uno al lado del otro
6. EL contenido principal debe tener un ancho del 70%
7. El contenido dentro del contenedor principal debe ser una cuadrícula con 4 líneas de 2 cajas.
8. La barra lateral debe tener un ancho del 30%
9. EL footer debe tener un ancho del 100% del div que lo contiene y estar abajo del todo
*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#general {
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
    border: 1px solid #CCC;
}

#header {
    width: 100%;
    height: 100px;
    background-color: rgb(15, 118, 236);
    color: white;
    text-align: center;
    line-height: 90px;
}

.clearfix {
    float: none;
    clear: both;
}

#menu {
    background-color: #EEEEEE;
}

#menu ul li {
    /* display: inline-block; */
    display: block;
    float: left;
    border-right: 1px solid #CCC;
}

#menu ul li a {
    color: #444;
    display: block;
    padding: 15px;
}

#menu ul li:hover {
    background-color: rgb(16, 75, 143);
    cursor: pointer;
}

#menu ul li:hover a {
    color: white;
}

#contenido {
    width: 69%;
    float: left;
}

#lateral {
    float: left;
    width: 30%;
    border: 1px solid red;
    min-height: 500px;
    text-align: center;
    max-height: 650px;
    overflow-y: scroll;
}

#contenido>h1 {
    text-align: center;
    border-bottom: 1px solid #CCC;
    padding: 15px;
    color: #444;
    text-shadow: 1px 1px 2px gray;
}

#contenido .caja {
    position: relative;
    width: 40%;
    height: 250px;
    background-color: #CCC;
    border: 1px solid gray;
    color: white;
    float: left;
    margin: 20px;
    margin-left: 40px;
    text-align: center;
    line-height: 200px;
    color: #444;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px gray;
    border-radius: 50px 10px 4px 61px;
}

.sombra-interior {
    box-shadow: 0px 0px 20px gray inset !important;
}

footer {
    width: 100%;
    height: 55px;
    line-height: 55px;
    background-color: #EEE;
    text-align: center;
    color: #444;
    border-top: 1px solid #CCC;
}

.libre {
    position: absolute;
    top: 300px;
    left: 50%;
    border: 1px solid black;
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}

.libre1 {
    z-index: 2;
}

.libre2 {
    background-color: green;
    top: 280px;
    left: 52%;
    z-index: 1;
}

.fija {
    position: fixed;
    top: 50%;
    left: 0;
    border: 1px solid black;
    background-color: rgblueb(146, 143, 143);
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}